<div class="container-fluid">
  <div class="row">
    <div class="bg-primary col-3 sidebar text-light">
      <div class="mt-5 px-2">
        <p class="mb-4"><strong>Account</strong></p>
        <p class="mb-1">
          <a class="text-light">Calender</a>
        </p>
        <p class="mb-1">
          <a class="text-light" [routerLink]="['/']" routerLinkActive="router-link-active"  >Make Appointment</a>
        </p>
      </div>      
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>