<div class="container">
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Select Country</label>
                <ng-multiselect-dropdown
                [placeholder]="'Select Country'"
                [settings]="dropdownSettings"
                [data]="countryList"
                [(ngModel)]="selectedItems"
                (onSelect)="onItemSelect($event)"
                (onDeSelect)="onItemDeSelect($event)"
                (onDeSelectAll)="onItemDeSelectAll($event)"
                (onSelectAll)="onSelectAll($event)"
                >
                </ng-multiselect-dropdown>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Select Comapany</label>
                <ng-multiselect-dropdown
                [placeholder]="'Select Company'"
                [settings]="dropdownSettingsCompany"
                [data]="companyList"
                [(ngModel)]="selectedItemsCompany"
                (onSelect)="onItemSelectCompany($event)"
                (onDeSelect)="onItemDeSelectCompany($event)"
                (onDeSelectAll)="onItemDeSelectCompanyAll($event)"
                (onSelectAll)="onSelectAllCompany($event)"
                >
                </ng-multiselect-dropdown>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Select User</label>
                <ng-multiselect-dropdown
                [placeholder]="'Select User'"
                [settings]="dropdownSettingsUser"
                [data]="userList"
                [(ngModel)]="selectedItemsUser"
                (onSelect)="onItemSelectUser($event)"
                (onSelectAll)="onSelectAllUser($event)"
                >
                </ng-multiselect-dropdown>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="table-responsive table-div">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Company name</th>
                  <th scope="col">Country name</th>
                  <th scope="col">User</th>
                </tr>
              </thead>
              <tbody>
                  <ng-template ngFor let-parent [ngForOf]="usersData">
                    <tr *ngFor="let item of parent">
                        <td>{{item.name}}</td>
                        <td>{{item.country.name}}</td>
                        <td>
                           <table class="table table-bordered">
                             <thead>
                               <tr>
                                 <th scope="col">User Name</th>
                               </tr>
                             </thead>
                             <tbody>
                               <tr *ngFor="let item2 of item.users">
                                 <td>
                                   {{item2.name}}
                                 </td>
                               </tr>
                             </tbody>                
                           </table>
                        </td>
                    </tr>
                  </ng-template>              
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination
              [collectionSize]="userData.length"
              [(page)]="page"
              [pageSize]="pageSize"
              (pageChange)="refreshUserData()"
            >
            </ngb-pagination>
          
            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshUserData()">
              <option [ngValue]="2">2 items per page</option>
              <option [ngValue]="4">4 items per page</option>
              <option [ngValue]="6">6 items per page</option>
            </select>
          </div>        
    </div>
</div>


